/* Fundo do site. */
*{ 
    background-color: #000000;
}
/* 1 */
* {
    padding: 0;
    margin: 0;
    border: 0;
 }
 
/* Logo do site. */

 .linha1 {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
 }

    .linha1c {
        background-color: #FDC14C;
        width: 4500px;
        height: 2px; 
    }

.linha2 {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    }

 .logoSite{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
 }
    .textoLogoSite{
        font-family: "Italiana", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1%;
        color: #FDC14C;
    }

.textoMenorLogoSite {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Italiana", sans-serif;
}

/* Conteúdo de texto. */

.bemVindo {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Italiana", sans-serif;
    margin-top: 60px;
    font-size: 64px;
}
.proposito {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

/* Botões */
    .botao-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        width: 50%;
      }

      .botao-container .botao {
        margin: 0 80px;
    }
  
      .botao {
        padding: 70px 150px;
        background-color: #32200A;
        color: #FFFFFF;
        font-size: 30px;
        font-family: "Josefin Slab", sans-serif;
        font-weight: 300;
        font-style: normal;
        border: none;
        cursor: pointer;
      }
  
        .emphasized {
            background-color: #32200A;
            font-size: 30px;
            font-weight: 300;
            font-style: normal;
         }

      .botao:hover {
        background-color: #FFA500;
      }